In [1]:
cars = ['bmw', 'audi', 'toyota', 'ford']
test = cars[2][1:3] + cars[0][0].upper() + cars[1][-1]
print(test) #oyBi

oyBi

In [2]:
words = ['python', 'coding', 'rocks']
test = words[0][2:4] + words[1][-2] + words[2][:2].upper()
print(test) #thnRO

thnRO

In [3]:
cities = ['paris', 'berlin', 'tokyo', 'madrid']
test = cities[1][0] + cities[2][3] + cities[0][-1].upper() + cities[3][1:3]
print(test.swapcase()) 
#bySad >> BYsAD

BYsAD

In [4]:
planets = ['earth', 'venus', 'mars', 'jupiter']
test = planets[3][0:3] + planets[0][1].upper() + planets[1][-2:] + planets[2][::-2]
print(test.capitalize())
#jupAussa >> Jupaussa

Jupaussa

In [5]:
tech = ['python', 'java', 'flutter', 'react']
test = tech[0][::-2] + tech[2][1:4] + tech[3][-2:].upper() + tech[1][0]
print(test.swapcase())
#nhylutCTj >> NHYLUTctJ

NHYLUTctJ

In [6]:
pen = ["Blue","Black","Purple","Pink","Brown"]
l = ""
for x in range(5):
   l += pen[x-3][-1]
print(l)
#eknek

eknek

Write a loop to print numbers from 1 to 10.

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Use a loop to calculate the sum of numbers from 1 to 100.

In [8]:
total = 0
for i in range(1, 101):
    total += i
print(total)

5050

Print all even numbers between 1 and 50.

In [9]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Use a while loop to print numbers from 10 down to 1.

In [11]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

Write a loop that prints the square of each number from 1 to 10.

In [13]:
i = 1
while i <= 10:
    print(i**2)
    i += 1

1
4
9
16
25
36
49
64
81
100

Loop through the string 'Python' and print each character.

In [17]:
name = 'Python'
for i in range(6):
    print(name[i])
    i += 1

P
y
t
h
o
n

In [18]:
for char in 'Python':
    print(char)

P
y
t
h
o
n

In [ ]:
for i in range(1, 21):
    if i % 2 != 0:
        print(i)