In [1]:
print("Hello, world")

Hello, world

In [2]:
name1 = "Mokwapnana"

In [3]:
print("Hello, " + name1)#Adding variable to Hello
print("Amen Halleluyah")

Hello, Mokwapnana
Amen Halleluyah

In [4]:
animalname = 'Horse'

In [5]:
animal = 'Hog'
print(animalname)
print(animal)

Horse
Hog

In [6]:
#this is just some notes

this is also notes

In [14]:
name2= 'Hloni'
age = '25'
height = "1.6m"
isRumour = "True"

In [15]:
print('My name is ' + name2 + ' and I am ' + age + ' years old.')
print("I am " + height + " and it is " + isRumour + " that I am a programmer.")

My name is Hloni and I am 25 years old.
I am 1.6m and it is True that I am a programmer.

In [9]:
name = 'Donald'